<div id="home-main">

<div class="flex-container-welcome">

  <div class="welcome-text wow zoomInDown" data-wow-duration="2s" data-wow-offset="10">
    <%=image_tag("LOGOBLANCO.png", class: "img-responsive")%>
    <h3>RIF: V-07388928-2</h3>
    <ul class="social-links text-center">
      <li>
        <a href="https://www.facebook.com/Electrificaciones-Diasan-FP-639316549531044/" target="_blank">
          <i class="fa fa-facebook-square fa-3x">
          </i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/diasanfp" target="_blank">
          <i class="fa fa-twitter-square fa-3x">
          </i>
        </a>
      </li>
      <li>
        <a href="https://instagram.com/diasanfp/" target="_blank">
          <i class="fa fa-instagram fa-3x">
          </i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="overlay-bg"></div>

  <div class="fluid-container">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("ciudad1.jpg")%>
        </div>

        <div class="item">
          <%= image_tag("torres1.jpg")%>
        </div>

        <div class="item">
          <%= image_tag("distribucion1.jpg")%>
        </div>

        <div class="item">
          <%= image_tag("servicios1.jpg")%>
        </div>
      </div>
    </div>
  </div>

</div>