<div id="main-service">

  <div class="container-fluid">

    <div id="services-tittle">  
      <div class="container-fluid text-center wow rollIn" data-wow-duration="2s" data-wow-offset="20">
        <h1>Servicios</h1>
      </div>

    </div>

    <div class="container service-bottom">

      <div class="row">

        <div class="col-md4 col-sm-4 col-xs-12 wow fadeIn" data-wow-duration="4s" data-wow-offset="20">
          <div class="vista">
            <%= image_tag("torres2.jpg", class: "img-responsive img-rounded")%>
            <div class="mascara">
              <h2>Industrial</h2>
            </div>
          </div>
        </div>

        <div class="col-md4 col-sm-4 col-xs-12 wow fadeIn" data-wow-duration="4s" data-wow-offset="20">
          <div class="vista">
            <%= image_tag("comercial-mall.jpg", class: "img-responsive img-rounded center-block")%>
            <div class="mascara">
              <h2>Comercial</h2>
            </div>
          </div>
        </div>

        <div class="col-md4 col-sm-4 col-xs-12 wow fadeIn" data-wow-duration="4s" data-wow-offset="20">
          <div class="vista">
            <%= image_tag("domiciliaria.jpg", class: "img-responsive img-rounded center-block")%>
            <div class="mascara">
              <h2>Domestico</h2>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div id="multimedia-text">  
      <div class="container-fluid text-center wow fadeInDown" data-wow-duration="2s" data-wow-offset="20">
        <h3>Galeria de imagenes</h3>
      </div>
  </div>

  <div id="multimedia-view">

    <div class="container-fluid wow flipInX" data-wow-duration="4s" data-wow-offset="20">

      <div class="row">

        <div id="owl-demo" class="owl-carousel">
          <div><%= image_tag("biblioteca1.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca2.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca3.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca4.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca5.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca6.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca7.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca8.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca9.jpg", :class => "img-rounded img-responsive item")%></div>
          <div><%= image_tag("biblioteca10.jpg", :class => "img-rounded img-responsive item")%></div>
        </div>

      </div>

    </div>

  </div>

</div>