<%= render "layouts/navigation" %>

<section itemscope itemtype="http://schema.org/LocalBusiness" id= "home" class="light-typo">
  <%= render partial: "welcome/home" %>

  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  	<meta itemprop="addressLocality" content="Punto Fijo">
  	<meta itemprop="addressRegion" content="Edo. Falcon">
  	<meta itemprop="addressCountry" content="Venezuela"></span>
  	<meta itemprop="name" content="DIASAN C.A.">
  	<meta itemprop="telephone" content="02692466035">
  	<meta itemprop="email" content="electrificacionesdiasan@gmail.com">
  	<meta itemprop="url" content="http://www.diasan.com.ve/">

</section>

<section id="products" class="navbar-fixed">
  <%= render partial: "welcome/products" %>
</section>

<section id="services" class="navbar-fixed">
  <%= render partial: "welcome/services" %>
</section>

<section id="us" class="navbar-fixed">
  <%= render partial: "welcome/us" %>
</section>

<section id="contact" class="navbar-fixed">
  <%= render partial: "welcome/contact" %>
</section>

<footer id="mainfoot">
  <%= render partial: "welcome/mainfoot" %>
</footer>

<%if controller_name == "contacts" %>
  <script type="text/javascript">
  window.location = '#contact';
  </script>
<%end%>