<section id= "home">
  <%= render "home" %>
</section>

<section id="products">
  <%= render "products" %>
</section>

<section id="services">
  <%= render "services" %>
</section>

<section id="us">
  <%= render "us" %>
</section>

<section id="contact">
  <%= render "contact" %>
</section>

<footer id="mainfoot">
  <%= render "mainfoot" %>
</footer>