<section id= "home" class="light-typo">
  <%= render "home" %>
</section>

<section id="products" class="navbar-fixed">
  <%= render "products" %>
</section>

<section id="services" class="navbar-fixed">
  <%= render "services" %>
</section>

<section id="us" class="navbar-fixed">
  <%= render "us" %>
</section>

<section id="contact" class="navbar-fixed">
  <%= render "contact" %>
</section>

<footer id="mainfoot">
  <%= render "mainfoot" %>
</footer>