<%= render "layouts/navigation" %>

<section itemscope itemtype="http://schema.org/LocalBusiness" id= "home" class="light-typo">
  <%= render "home" %>

  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  	<meta itemprop="addressLocality" content="Punto Fijo">
  	<meta itemprop="addressRegion" content="Edo. Falcon">
  	<meta itemprop="addressCountry" content="Venezuela"></span>
  	<meta itemprop="name" content="DIASAN C.A.">
  	<meta itemprop="telephone" content="02692466035">
  	<meta itemprop="email" content="electrificacionesdiasan@gmail.com">
  	<meta itemprop="url" content="http://www.diasan.com.ve/">

</section>

<section id="products" class="navbar-fixed">
  <%= render "products" %>
</section>

<section id="services" class="navbar-fixed">
  <%= render "services" %>
</section>

<section id="us" class="navbar-fixed">
  <%= render "us" %>
</section>

<section id="contact" class="navbar-fixed">
  <%= render "contact" %>
</section>

<footer id="mainfoot">
  <%= render "mainfoot" %>
</footer>