<%= render "layouts/navigation" %>

<section itemscope itemtype="http://schema.org/LocalBusiness" id= "home" class="light-typo">
  <%= render partial: "welcome/home" %>

  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  	<meta itemprop="addressLocality" content="Punto Fijo">
  	<meta itemprop="addressRegion" content="Edo. Falcon">
  	<meta itemprop="addressCountry" content="Venezuela"></span>
  	<meta itemprop="name" content="DIASAN C.A.">
  	<meta itemprop="telephone" content="02692466035">
  	<meta itemprop="email" content="electrificacionesdiasan@gmail.com">
  	<meta itemprop="url" content="http://www.diasan.com.ve/">

</section>

<section id="products" class="navbar-fixed">
  <%= render partial: "welcome/products" %>
</section>

<section id="services" class="navbar-fixed">
  <%= render partial: "welcome/services" %>
</section>

<section id="us" class="navbar-fixed">
  <%= render partial: "welcome/us" %>
</section>

<section id="contact" class="navbar-fixed">
  <%= render partial: "welcome/contact" %>
</section>

<footer id="mainfoot">
  <%= render partial: "welcome/mainfoot" %>
</footer>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Aviso de Entrega</h4>
      </div>
      <div class="modal-body">
        <p>Su mensaje ha sido enviado con éxito, nos comunicaremos con usted a la brevedad posible. Gracias por contactarse con nosotros&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<%if controller_name == "contacts" %>
  <script type="text/javascript">
  window.location = '#contact';
  </script>
<%end%>

<%if flash[:notice] == "Mensaje Enviado con Éxito" %>
  <script type="text/javascript">
    $('#myModal').modal('show');
  </script>
<%end%>