<%flash[:notice] %>
<%=form_tag send_path, method: :post do %>

<div class="form-group">
	<%=text_field_tag(:name, nil, placeholder: "Ingrese su Nombre", class: "form-control")%>
</div>

<div class="form-group">
	<%=email_field_tag(:email, nil, placeholder: "Ingrese su Email", class: "form-control")%>
</div>

<div class="form-group text-center">
	<%= radio_button("post", "category", "Cotizacion")%>
	<%= label_tag(:matter, "Presupuestos")%>
	<%= radio_button("post", "category", "Proyecto")%>
	<%= label_tag(:matter, "Proyectos")%>
	<%= radio_button("post", "category", "Otros")%>
	<%= label_tag(:matter, "Otros")%>
</div>

<div class="form-group">
	<%=text_area_tag(:message, nil, placeholder: "Ingrese su Mensaje", class: "form-control")%>
</div>

<p>
	<%=submit_tag("Enviar", class: "btn btn-info btn-block")%>
</p>
<% end %>