<!DOCTYPE html>
<html>
<head>
  <title>Diasan F.P.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
  
  <script src="//code.jquery.com/jquery-latest.min.js">
  </script>

  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  
</head>
<body>

	<%= render "layouts/navigation" %>
	
	<%= yield %>

  <script src="http://trevordavis.net/play/jquery-one-page-nav/jquery.js"></script>
  <script src="http://trevordavis.net/play/jquery-one-page-nav/jquery.scrollTo.js"></script>
  <script src="http://trevordavis.net/play/jquery-one-page-nav/jquery.nav.min.js"></script>
  <script>
   $(document).ready(function(){
    $('#navigation-home').onePageNav();
    });
   </script>
   <script>
   $(document).ready(function(){
    $('#navigation-bar').onePageNav();
    });
   </script>
</body>
</html>